.section {
  padding: 5rem 0;
}
@media screen and (min-width: 1024px) {
  .section {
    padding: 10rem 0;
  }
}
.hero {
  background-color: #292b2998;
}
@media screen and (min-width: 1024px) {
  .hero {
    background-image: url(../img/Hero.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.hero-content {
  padding: 12rem 0 5rem 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero-content {
    padding: 0;
    max-width: 54rem;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.hero-content h1 {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 720px) {
  .hero-content h1 {
    font-size: 3.4rem;
  }
}
.hero-content p {
  font-style: italic;
  font-weight: 300;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
  .hero-content p {
    margin-left: 0;
  }
}
.hero-content a {
  display: inline-block;
}
.hero-content .social-media {
  margin: 0;
}
.hero-content .social-media img {
  margin: 2rem 2rem 0 0;
}
.desc {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}
.sv-bg {
  background: black;
}
#services h2 {
  color: white;
}
#services .desc {
  color: white;
}
.services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [1];
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 4rem;
}
@media screen and (min-width: 720px) {
  .services {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}
@media (min-width: 1400px) {
  .services {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #062006;
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 30rem;
  margin: auto;
}
@media screen and (min-width: 720px) {
  .card {
    max-width: inherit;
    margin: inherit;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 2.5rem;
  }
}
.card-info {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .card-info {
    margin-left: 3rem;
  }
}
.card-info h3 {
  color: #32d830;
  margin: 1.5rem 0;
}
.card-info p {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #d4f7d3;
  max-width: 25rem;
}
@media screen and (min-width: 720px) {
  .product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .product-img-1 {
    background-image: url(../img/Product-1.png);
    background-size: cover;
    background-position: center center;
  }
  .product-img-2 {
    background-image: url(../img/Product-2.png);
    background-size: cover;
    background-position: center center;
  }
  .product-img-3 {
    background-image: url(../img/Product-3.png);
    background-size: cover;
    background-position: center center;
  }
  .product-img-4 {
    background-image: url(../img/Product-4.png);
    background-size: cover;
    background-position: center center;
  }
}
.product-info {
  background: #d4f7d3;
  color: #062006;
  padding: 7rem 2rem;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .product-info {
    padding: 7rem 4rem;
    text-align: left;
  }
}
@media (min-width: 1400px) {
  .product-info {
    padding: 12rem 7rem 12rem 12rem;
  }
}
.product-info:nth-child(2),
.product-info :nth-child(4) {
  background: #062006;
  color: #d4f7d3;
}
.product-info h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  position: relative;
}
@media screen and (min-width: 720px) {
  .product-info h3 {
    font-size: 2.8rem;
  }
}
@media (min-width: 1437px) {
  .product-info h3 {
    font-size: 3.2rem;
    margin-left: 2.5rem;
  }
  .product-info h3::after {
    content: "";
    background-image: url(../img/Left-Bar.svg);
    position: absolute;
    width: 1.5rem;
    height: 4.7rem;
    left: -3%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.product-info p {
  max-width: 56rem;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 720px) {
  .product-info p {
    margin-left: 0;
    font-size: 1.8rem;
  }
}
.product-info a {
  display: inline-block;
  color: #062006;
  border-color: #062006;
}
.product-info a:hover {
  background-color: #062006;
  color: #d4f7d3;
}
.product-info .bt-white {
  color: #d4f7d3;
  border-color: #d4f7d3;
}
.product-info .bt-white:hover {
  background: #d4f7d3;
  color: #062006;
}
.contracts-bg {
  background: #f4f6f7;
}
@media screen and (min-width: 720px) {
  .contracts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
}
.contract {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0e630d),
    to(#000)
  );
  background-image: linear-gradient(90deg, #0e630d 0%, #000 100%);
  border-radius: 1rem;
  color: white;
  margin-bottom: 4rem;
  text-align: center;
  padding: 1rem 2rem 3rem 2rem;
}
@media screen and (min-width: 1024px) {
  .contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    padding: 3rem 4rem;
    text-align: left;
  }
}
.contract_l {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#000),
    to(#0e630d)
  );
  background-image: linear-gradient(90deg, #000 0%, #0e630d 100%);
}
.contract .contract-day p {
  font-size: 8rem;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .contract .contract-day p {
    margin-right: 4rem;
  }
  .contract .contract-day p::after {
    content: "";
    background-image: url(../img/Left-Bar-2.svg);
    position: absolute;
    width: 0.3rem;
    height: 6rem;
    top: 28px;
    left: 108px;
  }
}
.contract .contract-info p {
  font-size: 2.5rem;
  font-weight: bold;
}
.contract .contract-info .contract-date {
  font-size: 1.5rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}
.contract-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 4rem;
}
.contract-bt a {
  background-color: #0d5f0c;
  color: white;
  border-color: #0d5f0c;
}
.contract-bt a:hover {
  background-color: white;
  color: #0d5f0c;
}
.us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.us-img-1 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 720px) {
  .us-img-1 {
    margin-right: 0.8rem;
    margin-bottom: 0rem;
  }
}
.us-img-2 {
  display: none;
}
@media screen and (min-width: 1360px) {
  .us-img-2 {
    display: inline-block;
  }
}
@media screen and (min-width: 720px) {
  .us-text {
    margin-left: 3rem;
  }
}
.us-text-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 6rem;
  text-align: center;
  position: relative;
}
.us-text-title::after {
  content: "";
  background-image: url(../img/Line.svg);
  position: absolute;
  width: 10rem;
  height: 0.2rem;
  bottom: -30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media screen and (min-width: 374px) {
  .us-text-title::after {
    bottom: -45%;
  }
}
@media screen and (min-width: 720px) {
  .us-text-title::after {
    bottom: -26%;
    left: 18%;
  }
}
@media screen and (min-width: 720px) {
  .us-text-title {
    font-size: 2.8rem;
    max-width: 28rem;
    text-align: left;
  }
}
.us-text-title-info {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .counters {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.counter:first-child {
  margin-right: 10rem;
}
.counter-number {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.counter-number::after {
  content: "+";
  position: absolute;
  font-size: 3rem;
}
.counter-name {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
.banner {
  background-image: url(../img/Banner.png);
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
}
.banner h3 {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-transform: inherit;
}
.banner p {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  max-width: 35rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .banner p {
    max-width: inherit;
    margin: inherit;
    margin-bottom: 1.5rem;
  }
}
.banner a {
  color: white;
  display: inline-block;
  border-color: white;
}
.banner a:hover {
  background: white;
  color: black;
}
.testimonial-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .testimonial-active {
    display: block;
  }
}
.testimonial-active .slick-dots {
  text-align: center;
  margin-top: 25px;
}
.testimonial-active .slick-dots li {
  display: inline-block;
  margin: 0 3px;
}
.testimonial-active .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d4f7d3;
  border: 0;
  cursor: pointer;
}
.testimonial-active .slick-dots li.slick-active button {
  background-color: #32d830;
}
.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #d4f7d3;
  padding: 3rem;
  border-radius: 1rem;
  text-align: center;
  margin: 0 2rem;
  height: 32rem;
}
@media screen and (min-width: 1024px) {
  .quote {
    max-width: 42rem;
    margin-right: 4rem;
    height: 30rem;
  }
}
.quote img {
  margin-bottom: 2rem;
  display: inline-block;
}
.quote p {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.quote blockquote {
  max-width: 35rem;
}
.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.map #gmap_canvas {
  width: 120rem;
  height: 30rem;
}
@media screen and (min-width: 1024px) {
  .map #gmap_canvas {
    height: 45rem;
  }
}
.contact-panel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .contact-panel-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    text-align: center;
  }
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-left: 2.5rem;
}
@media screen and (min-width: 1024px) {
  .contact-info {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.contact-info img {
  margin-right: 2rem;
}
@media screen and (min-width: 1024px) {
  .contact-info img {
    margin-left: 0;
  }
}
.contact-info p {
  font-size: 1.8rem;
}
.contact_box {
  margin-top: 4rem;
}
@media screen and (min-width: 1024px) {
  .contact_box .input-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
  }
}
.contact_box .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact_box .form-group label {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .contact_box .form-group label {
    text-align: left;
  }
}
.contact_box .form-group input,
.contact_box .form-group textarea {
  border-radius: 1rem;
  border: 0.2rem solid #0d5f0c;
  height: 6rem;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact_box .form-group textarea {
  margin-bottom: 4rem;
  height: 20rem;
  resize: none;
}
.contact_box .submit {
  background-color: #0d5f0c;
  color: white;
  border: 0.2rem solid white;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .contact_box .submit {
    margin: 0;
  }
}
.contact_box .submit:hover {
  background-color: white;
  border-color: #0d5f0c;
  color: #0d5f0c;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2rem 0;
}
footer .footer-contact {
  margin-bottom: 2rem;
}
.up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 99;
  display: none;
  width: 4rem;
}
/*# sourceMappingURL=index.css.map */
